@import "../../../styles/colors";

.table {
  width: 100%;

  &__column-title{
    font-size: 1.1em;
    background-color: $light-blue;
    color: $dark-grey-text-color;
    text-align: center;
  }
}

.align-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container{
  margin: 30px;
}
.title-container {
  position: relative;
  width: 90%;

  &__title {
    font-weight: 450;
    font-size: 18pt;
    color: $dark-grey-text-color;
    margin: 10px 0px;
  }
}

.mat-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.mat-row:hover .mat-ripple-element {
background-color: rgba(0, 0, 0, 0.08);
}

.paginator-container{
  border: 5px;
}
.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 34px;
}

.switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: $login-card-input-ripple-color;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.checked-slider-before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.search-container-active {
  width: 80%;
  border-radius: 20px;
  outline: none;
}
.search-container {
  position: relative;
  width: 100%;
  margin-right: 10%;

  @media (max-width: 600px) {
      width: 80%;
      margin: 10px 0px;
  }
  
  &__input {
      box-shadow: 0px 1px 10px $line-background-color;
      width: 40px;
      box-sizing: border-box;
      border-radius: 50px;
      border: 0;
      font-size: 16px;
      background-color: white;
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 12px 10px 12px 35px;
      transition: width 0.4s ease-in-out;

      &:focus {
        width: 80%;
        border-radius: 20px;
        outline: none;
      }
  }

  &__icon {
      position: absolute;
      left: 10px;
      top: 8px;
      pointer-events: none;
  }
}