@import "../../../styles/colors";


.container{
  margin: 30px;
}
.title-container {
  position: relative;
  width: 90%;

  &__title {
    font-weight: 450;
    font-size: 18pt;
    color: $dark-grey-text-color;
    margin: 10px 0px;
  }
}

