<div class="mat-elevation-z5">
  <mat-toolbar class="header">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon class="icon__menu-display" (click)="inputSideNav.toggle()">
          menu
        </mat-icon>
      </button>
      <h1 class="text__title">Recursos Humanos</h1>

      <span class="spacer"></span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goToProfile()">Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>

      <button
        class="container__username"
        mat-icon-button
        [matMenuTriggerFor]="menu">
        <span class="text__username" *ngIf="user">{{ user.username }}</span>
        <mat-icon class="icon__user-display">account_circle</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
