@import "src/styles/colors";
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__header {
        height: 60px;
    }
    &__content {
        flex: auto;
    }
}
mat-toolbar {
  background: $background-menu-color;
}

mat-sidenav {
  margin: 15px 0 12px 12px;
  width: 250px;
  border-right: none;
  background: $background-menu-color;
  color: $dark-purple-text-color;
  border-radius: 10px;
  text-align: center;
 
}


