<div class="container">
  <button mat-button class="menu-button" routerLink="/">
    <mat-icon>home</mat-icon>
    <span>Inicio</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-button class="menu-button" routerLink="/employees">
    <mat-icon>group</mat-icon>
    <span>Registro de empleados</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-button class="menu-button" routerLink="/employees">
    <mat-icon>account_box</mat-icon>
    <span>Mi cuenta</span>
  </button>
</div>
