<div class="container">
  <div class="menu-container">
    <button mat-button class="menu-button" routerLink="/">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="menu-container">
    <button mat-button class="menu-button" routerLink="/employees">
      <mat-icon>group</mat-icon>
      <span>Registro de empleados</span>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="menu-container">
    <button mat-button class="menu-button" routerLink="/addresses">
      <mat-icon>map</mat-icon>
      <span>Registro de domicilios</span>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="menu-container">
    <button mat-button class="menu-button" routerLink="/reports">
      <mat-icon>insert_chart_outlined</mat-icon>
      <span>Reportes</span>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="menu-container">
    <button mat-button class="menu-button" routerLink="/my-profilee">
      <mat-icon>account_box</mat-icon>
      <span>Mi cuenta</span>
    </button>
  </div>
</div>
