@import "src/styles/colors";

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.container{
  padding-top: 10px;
}

.menu-container{
  :hover{
    color: $lblue-text-color;
}  

}
.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.9rem;
  color: $dark-grey;
  font-weight: 300;
}

mat-divider {
  // margin-top: 16px;
  // margin-bottom: 16px;
  margin: 5px 40px;
  background-color: $line-background-color;
}

